
@model CarInsuranceQuoteMVC.Models.Quote

@{
    ViewBag.Title = "Quote";
}

<h2>Hi @ViewBag.firstName, the quote for the monthly cost of your insurance is $@ViewBag.quoteValue!</h2>
<h2>Give us a call at 1-800-NOTASCAM to finalize buying your insurance.</h2>
<br/>
<a href="~/Home">Get another quote!</a>

